@model PagedList.IPagedList<AssetManagement.Models.Asset>
@using PagedList.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to Inventory Management System</h2>

<div style="margin-bottom: 12px">
    @using (Html.BeginForm("ReadOnlyIndex", "Asset", FormMethod.Get))
    {
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @id = "myInput", @type = "text", @placeholder = "Search by Name/Group/Id..." })
        <button type="submit" class="btn btn-primary" style="height: 32px">Search</button>
    }
</div>

<div style="margin-bottom: 12px">
    @Html.ActionLink("Clear All Filters", "ReadOnlyIndex")
</div>

@if (!Model.Any())
{
    <p>No inventory information available</p>
}
else
{
    <table class="table table-bordered table-hover" id="InventoryTable">
        <thead>
            <tr>
                <td>@Html.ActionLink("Name", "ReadOnlyIndex", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })</td>
                <td>@Html.ActionLink("Group", "ReadOnlyIndex", new { sortOrder = ViewBag.GroupSortParm, currentFilter = ViewBag.CurrentFilter })</td>
                <td>@Html.ActionLink("Count", "ReadOnlyIndex", new { sortOrder = ViewBag.CountSortParm, currentFilter = ViewBag.CurrentFilter })</td>
                <td>@Html.ActionLink("Unit Price", "ReadOnlyIndex", new { sortOrder = ViewBag.PriceSortParm, currentFilter = ViewBag.CurrentFilter })</td>
                <td>@Html.ActionLink("Total Value", "ReadOnlyIndex", new { sortOrder = ViewBag.TotalPriceSortParm, currentFilter = ViewBag.CurrentFilter })</td>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Group</td>
                <td>@item.Count</td>
                <td>@item.UnitPrice.ToString("0.00")</td>
                <td>@item.TotalValue.ToString("0.00")</td>
            </tr>
        }
    </table>

    <br />

    <div style="text-align: center;">
        @Html.PagedListPager(Model, page => Url.Action("ReadOnlyIndex", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>

}

<style>
    #myInput {
        background-image: url('/Resources/search.png');
        background-position: 5px 5px;
        background-size: 20px 20px;
        background-repeat: no-repeat;
        width: 100%;
        height: 32px;
        font-size: 16px;
        padding-left: 30px;
        padding-right: 40px;
        border: 1px solid #ddd;
    }
</style>
